html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   color-scheme: dark light; */
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* LAYOUT DEBUG */
/* { */
/*       outline: 3px solid orange; */
/*       background-color: hsla(120, 50%, 50%, 0.18); */
/* } */

body {
  font-size: 1.6rem;
  margin: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-top: 0;
  margin-block-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */

// img,
// picture,
// svg,
// video {
//   display: block;
//   /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
//   max-width: 100%;

//   height: auto;
//   /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
// }

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul,
li {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
.btn *,
button * {
  pointer-events: null;
  user-select: none;
}

/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************
* ACCESSIBILITY
******************************/
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */

.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: auto;
  -webkit-clip-path: auto;
  white-space: normal;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// MY CSS

// GENERAL RULES

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  font-family: Yantramanav, sans-serif;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($display, $wrap, $justify_content, $align_items) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify_content;
  align-items: $align_items;
}

.margin_bottom {
  margin-bottom: 0;
}

p {
  @extend .margin_bottom;
}

img {
  height: 280px;
}

// HEADER

nav {
  @include flex(flex, nowrap, space-between, center);
  background-color: #000000;
  height: 70px;
}

header {
  position: sticky;
  top: 0;
}

.logo_svg {
  margin: 5px;
  margin-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
}

svg {
  height: 46px;
}

.left_nav,
.right_nav {
  @include flex(flex, nowrap, none, center);
}

nav a {
  margin-right: 19px;

  @include font(1.56rem, 700);
}

.section {
  margin-bottom: 60px;
}
// MAIN

// Slider

.section > div {
  margin-bottom: 20px;
}

.slider {
  padding: 8px;
}

.slider > div {
  @include flex(flex, nowrap, space-between, center);
}

.slider a > p {
  color: grey;
  @include font(1.4rem, 900);
}

h2 {
  @include font(2.5rem, 700);
  @extend .margin_bottom;
  padding-left: 8px;
}

.image_slider {
  display: flex;
}

.new .slider_arrows {
  height: 20px;
  background-color: white;
}

.play_button {
  @include flex(flex, nowrap, none, center);
  color: white;
  background-color: rgb(112, 187, 102);
  padding: 6px 17px;
  border-radius: 30px;
  @include font(1.2rem, 700);
}

a > svg {
  margin-right: 5px;
  height: 8px;
  fill: white;
}

// Slider Card

.slider_card {
  height: 350px;
  padding: 8px;
}

.slider_card a img {
  width: 280px;
  height: auto;
}

.new_to_boiler_room > .slider_card,
.member_favourites > .slider_card,
.best_of > .slider_card {
  height: 200px;
}

.card_text {
  height: 50px;
}

h4 {
  @extend .margin_bottom;
  @include font(1.4rem, 700);
}

.icon {
  color: rgb(51, 51, 51);
  @include font(1.2rem, 700);
  text-align: right;
}

.card_text div p:nth-child(2) {
  color: yellow;
  @include font(1.2rem, 500);
}

.card_text div p:nth-child(3) {
  @include font(1.2rem, 500);
}

.card_text div span:nth-child(2) {
  @include font(1.4rem, 500);
}

.card_text div span:nth-child(3) {
  color: rgb(231, 39, 30);
  @include font(1.4rem, 700);
  padding-left: 3px;
}

.card_text_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.genres {
  display: inline-block;
  padding: 3px 6px;
  margin-top: 5px;
  margin-right: 2px;
  border: 1px solid rgb(51, 51, 51);
  @include font(1.1rem, 400);
}

// CITIES

.cities {
  padding: 8px;
}

.cities_title {
  @include flex(flex, nowrap, space-between, center);
}

.cities_title a > p {
  @include font(1.4rem, 700);
  opacity: 0.5;
}

p > svg {
  height: 9px;
  // color: rgb(51, 51, 51);
}

h2 + p {
  padding-left: 8px;
}

.map_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

@mixin background_map_image($image) {
  background-image: $image;
  background-size: cover;
  background-position: center;
}

.city_map {
  height: 50px;
  width: 170px;
  margin: 8px;

  @include flex(flex, nowrap, center, center);

  @include font(1.4rem, 700);
}

.london_map {
  @include background_map_image(url(./assets/map_images/london_map.avif));
}

.berlin_map {
  @include background_map_image(url(./assets/map_images/berlin_map.avif));
}

.ny_map {
  @include background_map_image(url(./assets/map_images/ny_map.avif));
}

.la_map {
  @include background_map_image(url(./assets/map_images/la_map.avif));
}

.amsterdam_map {
  @include background_map_image(url(./assets/map_images/amsterdam_map.avif));
}

.paris_map {
  @include background_map_image(url(./assets/map_images/paris_map.avif));
}

.mexico_map {
  @include background_map_image(url(./assets/map_images/mexico_map.avif));
}

.barcelona_map {
  @include background_map_image(url(./assets/map_images/barcelona_map.avif));
}

.sao_paulo_map {
  @include background_map_image(url(./assets/map_images/paulo_map.avif));
}

.madrid_map {
  @include background_map_image(url(./assets/map_images/madrid_map.avif));
}

.tokyo_map {
  @include background_map_image(url(./assets/map_images/tokyo_map.avif));
}

.johannesburg_map {
  @include background_map_image(url(./assets/map_images/johannesburg_map.avif));
}

.footer_menu {
  @include flex(flex, nowrap, space-between, none);
}

.footer_submenu {
  display: flex;
}
