html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   color-scheme: dark light; */
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-top: 0;
  margin-block-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */

// img,
// picture,
// svg,
// video {
//   display: block;
//   /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
//   max-width: 100%;

//   height: auto;
//   /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
// }

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul,
li {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
.btn *,
button * {
  pointer-events: null;
  user-select: none;
}

/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************
* ACCESSIBILITY
******************************/
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */

.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: auto;
  -webkit-clip-path: auto;
  white-space: normal;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// MY CSS

// GENERAL RULES

* {
  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
}

:root {
  --background_colour: rgb(0, 0, 0);
  --text_colour: rgb(255, 255, 255);
}

body {
  background-color: var(--background_colour);
  color: var(--text_colour);

  font-family: Yantramanav, sans-serif;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($display, $wrap, $justify_content, $align_items) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify_content;
  align-items: $align_items;
}

.arrows {
  height: 60px;
  margin: 10px;
  padding: 8px;
  opacity: 0.9;
  display: none;
}

.margin_bottom {
  margin-bottom: 0;
}

p {
  @extend .margin_bottom;
}

// HEADER

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid rgb(34, 34, 34);
  background-color: var(--background_colour);
}

nav {
  height: 70px;

  @include flex(flex, nowrap, space-between, center);
}

.header_logo_svg {
  margin: 5px 8px;

  svg {
    height: 46px;
  }
}

.dropdown {
  @include flex(flex, nowrap, space-between, center);
  position: relative;
  display: inline-block;
  height: 100%;
}

.left_nav,
.right_nav {
  display: none;
  position: absolute;
  width: 215px;
  height: 40px;
}

.left_nav a,
.right_nav a {
  background-color: var(--background_colour);
  padding: 15px;
  display: block;
}

@media screen and (max-width: 700px) {
  .dropdown:hover > .left_nav,
  .dropdown:hover > .right_nav,
  .left_nav:hover,
  .right_nav:hover {
    display: block;
    right: 0;
  }
  .dropdown:hover > .right_nav,
  .dropdown:focus-within > .right_nav {
    top: 326px;
  }

  .dropdown:hover > .left_nav,
  .dropdown:focus-within > .left_nav {
    top: 71px;
  }
}

.left_nav a:hover,
.right_nav a:hover {
  background-color: rgb(71, 71, 71);
}

.burger_menu {
  margin: 10px;
}

// MAIN

// Main Slider

.carousel_viewport {
  height: 800px;
  @include flex(flex, nowrap, none, none);
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel_item {
  position: relative;
  width: 100%;
  @include flex(flex, nowrap, flex-start, flex-end);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: center;
  margin-top: 70px;
}

.carousel_prev,
.carousel_next {
  position: absolute;
  top: 40%;
  z-index: 1;
}

.carousel_prev {
  left: 0;
}

.carousel_next {
  right: 0;
}

.carousel_viewport:hover .arrows {
  display: block;
}

.arrow_right,
.arrow_left {
  @extend .arrows;
}

.arrow_right {
  transform: rotate(90deg);
}

.arrow_left {
  transform: rotate(270deg);
}

.carousel_item video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 0;
  z-index: -1;
}

.main_slider_text {
  background-color: var(--background_colour);
  margin: 18px;
  padding: 13px;
}

.main_slider_text h2 {
  @include font(3.2rem, 700);
  @extend .margin_bottom;
}

.main_slider_text p {
  @include font(1.7rem, 400);
}

.main_slider_text button {
  background-color: rgb(255, 255, 255);
  border-style: none;
  padding: 8px 22px;
  margin: 16px 12px 10px 0;
  @include font(1.6rem, 700);
}

// Slider

.slider {
  height: 424px;
  margin: 21px 0 0 0;
  padding: 8px;
}

.small_section {
  height: 340px;
}

.slider > div {
  @include flex(flex, nowrap, space-between, center);
}

.slider a > p {
  color: rgb(128, 128, 128);
  @include font(1.4rem, 900);
}

.slider h2 {
  @include font(2.5rem, 700);
  @extend .margin_bottom;
  padding-left: 8px;
  line-height: 2.7rem;
}

.slides {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.carousel button {
  display: none;
}

.play_button {
  @include flex(flex, nowrap, none, center);
  color: var(--text_colour);
  background-color: rgb(112, 187, 102);
  padding: 6px 17px;
  margin-left: 70px;
  border-radius: 30px;
  @include font(1.2rem, 700);
}

a > svg {
  margin-right: 5px;
  height: 8px;
  fill: rgb(255, 255, 255);
}

// Slider Card

.slider_card {
  height: 370px;
  padding: 8px;
  margin-top: 15px;
}

.slider_card a img {
  width: 280px;
  height: auto;
  position: relative;
}
.slider_card a img:hover {
  opacity: 0.85;
}

.new_to_boiler_room > .slider_card,
.member_favourites > .slider_card,
.best_of > .slider_card {
  height: 385px;
}

.overlay_container {
  position: relative;
  height: 140px;
  margin-bottom: 10px;
}

.overlay_svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  transform: translateY(100%);
  background-color: rgb(19, 19, 19);
  opacity: 0.98;
  display: none;
}

.overlay_container:hover .overlay_svg {
  transform: translateY(-0%);
  @include flex(flex, nowrap, center, center);
}

.card_text {
  height: 50px;
  margin-top: 10px;
}

h4 {
  @extend .margin_bottom;
  @include font(1.4rem, 700);
}

.icon {
  color: rgb(128, 128, 128);
  @include font(1.2rem, 700);
  text-align: right;
}

.card_text div p:nth-child(2) {
  color: rgb(255, 255, 0);
  @include font(1.2rem, 500);
}

.card_text div p:nth-child(3) {
  @include font(1.2rem, 500);
}

.card_text div span:nth-child(2) {
  @include font(1.4rem, 500);
}

.card_text div span:nth-child(3) {
  color: rgb(231, 39, 30);
  @include font(1.4rem, 700);
  padding-left: 3px;
}

.card_text_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.genres {
  display: inline-block;
  padding: 3px 6px;
  margin: 5px 2px 0 0;
  border: 1px solid rgb(51, 51, 51);
  @include font(1.1rem, 400);
}

// CITIES

.cities {
  height: 500px;
  padding: 8px;
}

.cities_title {
  @include flex(flex, nowrap, space-between, center);
  padding-left: 8px;
}

.cities_title a > h2 {
  @include font(2.5rem, 700);
  line-height: 2.7rem;
}

.cities_title a > p {
  @include font(1.4rem, 700);
  opacity: 0.5;
}

p > svg {
  height: 10px;
}

.map_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

@mixin background_map_image($image) {
  background-image: $image;
  background-size: cover;
  background-position: center;
}

.city_map {
  height: 50px;
  margin: 8px;

  @include font(1.4rem, 700);

  a {
    @include flex(flex, nowrap, center, center);
    height: 100%;
  }
}

.london_map {
  @include background_map_image(url(./assets/map_images/london_map.avif));
}

.berlin_map {
  @include background_map_image(url(./assets/map_images/berlin_map.avif));
}

.ny_map {
  @include background_map_image(url(./assets/map_images/ny_map.avif));
}

.la_map {
  @include background_map_image(url(./assets/map_images/la_map.avif));
}

.amsterdam_map {
  @include background_map_image(url(./assets/map_images/amsterdam_map.avif));
}

.paris_map {
  @include background_map_image(url(./assets/map_images/paris_map.avif));
}

.mexico_map {
  @include background_map_image(url(./assets/map_images/mexico_map.avif));
}

.barcelona_map {
  @include background_map_image(url(./assets/map_images/barcelona_map.avif));
}

.sao_paulo_map {
  @include background_map_image(url(./assets/map_images/paulo_map.avif));
}

.madrid_map {
  @include background_map_image(url(./assets/map_images/madrid_map.avif));
}

.tokyo_map {
  @include background_map_image(url(./assets/map_images/tokyo_map.avif));
}

.johannesburg_map {
  @include background_map_image(url(./assets/map_images/johannesburg_map.avif));
}

// FOOTER

.footer {
  background-color: rgb(19, 19, 19);
}

.mailing_list {
  border-bottom: 1px solid rgb(34, 34, 34);
  padding: 45px 18px;

  button {
    @include font(1.7rem, 700);
    background-color: rgb(112, 187, 102);
    color: var(--text_colour);
    border-style: none;
    height: 42px;
    width: 100%;
    padding: 10px;
  }

  p {
    @include font(1.1rem, 400);
    opacity: 0.5;
    line-height: 1.5rem;
    margin-top: 8px;

    a {
      text-decoration: underline;
    }
  }
}

h5 {
  @include font(2.8rem, 700);
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.apple_music_link {
  text-align: center;
  margin: 30px;

  img {
    height: 30px;
  }
}

.footer_menu {
  line-height: 1.4rem;
  @include flex(flex, nowrap, space-between, none);

  li {
    padding-bottom: 19px;
  }
}

.footer_menu > div {
  padding: 10px;
}

.footer_submenu {
  display: flex;

  div {
    padding-right: 15px;
  }
}

h6 {
  @include font(1.4rem, 700);
  line-height: 1.4rem;
  height: 20px;
}

.footer_logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  padding: 10px 0 40px 0;

  text-align: center;
  @include font(1.8rem, 700);
}

// MEDIA QUERIES

@media screen and (min-width: 700px) {
  // HEADER

  .dropdown {
    @include flex(flex, nowrap, space-between, center);
    height: 70px;
    width: 100%;
  }

  .burger_menu {
    display: none;
  }

  .left_nav,
  .right_nav {
    @include flex(flex, nowrap, none, center);
    position: inherit;
  }

  .left_nav a,
  .right_nav a {
    padding: 0;
    margin-right: 19px;
    @include font(1.56rem, 700);
  }

  .left_nav a:hover,
  .right_nav a:hover {
    background-color: #000000;
  }

  nav div a:last-child {
    min-width: 158px;
  }

  // MAIN CAROUSEL

  .carousel_viewport {
    height: 70vw;
  }

  .carousel_item {
    scroll-margin-top: 70px;
  }

  // SLIDERS

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
  }

  .slides {
    transition: transform 0.3s;
    display: flex;
    width: 100%;
    overflow: visible;
    overflow-x: none;
  }

  .slide {
    flex: 0 100 100;
  }

  .navigation_buttons {
    position: absolute;
    top: 34%;
    z-index: 2;
    border-style: none;
    background-color: #ffffff;
    opacity: 0.9;
    width: 40px;
    height: 40px;
    cursor: default;
  }

  .carousel:hover .navigation_buttons {
    display: flex;
    align-items: center;
  }

  .prev-button,
  .next-button {
    @extend .navigation_buttons;

    svg {
      height: 30px;
    }
  }

  .prev-button {
    transform: rotate(270deg);
    left: 0;
  }

  .next-button {
    transform: rotate(90deg);
    right: 28px;
  }

  .small_section_prev,
  .small_section_next {
    top: 25%;
  }

  .main_slider_text {
    max-width: 510px;
    min-width: 300px;
    padding: 26px;
    margin: 32px;
  }

  .slider h2 {
    font-size: 2.9rem;
  }

  .slider {
    height: 500px;
    margin: 25px 15px 0px 15px;
    padding: 8px;
  }

  .small_section {
    height: 330px;

    .slider_card {
      height: 300px;
    }
  }

  .slider_card {
    height: 411px;
    padding: 8px;
  }

  .slider_card a img {
    width: 329px;
    height: auto;
  }

  .card_text {
    margin-top: 5px;
  }

  .overlay_container {
    width: 100%;
    height: auto;
  }

  h4 {
    @include font(1.5rem, 700);
  }

  .icon {
    @include font(1.4rem, 700);
  }

  .card_text div p:nth-child(2) {
    @include font(1.3rem, 400);
  }

  .card_text div p:nth-child(3) {
    @include font(1.3rem, 400);
  }

  .card_text div span:nth-child(2) {
    @include font(1.4rem, 500);
  }

  .card_text div span:nth-child(3) {
    @include font(1.4rem, 700);
    padding-left: 3px;
  }

  .cities {
    height: 560px;
    margin: 25px 15px 0 15px;
  }

  .cities_title {
    margin-bottom: 16px;

    a > h2 {
      @include font(2.9rem, 700);
    }
  }

  .city_map {
    @include font(1.9rem, 700);
    height: 57px;

    a {
      height: 57px;
      width: 100%;
      @include flex(flex, nowrap, center, center);
    }
  }

  .mailing_list {
    width: 495px;
    margin: auto;
  }

  .footer_menu {
    padding: 0 4vw 0 4vw;
    justify-content: space-around;

    h6 {
      @include font(1.8rem, 700);
      margin-bottom: 15px;
    }

    li {
      @include font(1.6rem, 400);
      padding-bottom: 15px;
    }
  }

  .footer_submenu div {
    padding-right: 38px;
  }

  .footer_logos {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1100px) {
  .slider {
    height: 450px;
  }

  .small_section {
    height: 330px;
  }

  .slider_card a img {
    width: 270px;
  }

  .card_text_grid {
    grid-template-columns: 2.3fr 1fr;
  }

  .cities {
    height: 400px;
  }

  .map_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer_menu {
    max-width: 1000px;
    margin: auto;
    padding: 0 32px;
    justify-content: space-between;
  }
}
