html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   color-scheme: dark light; */
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* LAYOUT DEBUG */
/* { */
/*       outline: 3px solid orange; */
/*       background-color: hsla(120, 50%, 50%, 0.18); */
/* } */
body {
  font-size: 1.6rem;
  margin: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-top: 0;
  margin-block-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */
/* Because we us <ul>s for lists that we don't always want bulletted. */
ul,
li {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
.btn *,
button * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************
* ACCESSIBILITY
******************************/
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */
.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: auto;
  -webkit-clip-path: auto;
  white-space: normal;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* *::-webkit-scrollbar {
  width: 0;
}
* *::-webkit-scrollbar-track {
  background: transparent;
}
* *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Yantramanav, sans-serif;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
}

.arrows, .arrow_right,
.arrow_left {
  height: 30px;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.4;
}

.margin_bottom, h4, h2, p {
  margin-bottom: 0;
}

img {
  height: 280px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 70px;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo_svg {
  margin: 5px;
  margin-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
}
.logo_svg svg {
  height: 46px;
}

.left_nav,
.right_nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
}

nav div a:last-child {
  min-width: 126px;
}

nav a {
  margin-right: 19px;
  font-size: 1.56rem;
  font-weight: 700;
}

.section {
  height: 424px;
  margin-bottom: 30px;
}

.small_section {
  height: 350px;
}

.carousel_viewport {
  height: 800px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  overflow-x: scroll;
}

.carousel_item {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.carousel_prev,
.carousel_next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.carousel_prev {
  left: 0;
}

.carousel_next {
  right: 0;
}

.arrow_right {
  transform: rotate(90deg);
}

.arrow_left {
  transform: rotate(270deg);
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 100%;
     object-position: 60% 100%;
  z-index: -1;
}

.main_slider_text {
  background-color: rgb(0, 0, 0);
  margin: 18px;
  padding: 13px;
}

.main_slider_text h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.main_slider_text {
  font-size: 1.7rem;
  font-weight: 500;
}

.main_slider_text button {
  background-color: white;
  border-style: none;
  padding: 8px 22px;
  margin: 16px 12px 10px 9px;
  font-weight: 700;
}

.section {
  margin-bottom: 20px;
}

.slider {
  padding: 8px;
}

.slider > div {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.slider a > p {
  color: grey;
  font-size: 1.4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 8px;
  line-height: 2.7rem;
}

.image_slider {
  display: flex;
}

.new .slider_arrows {
  height: 20px;
  background-color: white;
}

.play_button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  color: white;
  background-color: rgb(112, 187, 102);
  padding: 6px 17px;
  margin-left: 70px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
}

a > svg {
  margin-right: 5px;
  height: 8px;
  fill: white;
}

.slider_card {
  height: 300px;
  padding: 8px;
}

.slider_card a img {
  width: 280px;
  height: auto;
  position: relative;
}

.new_to_boiler_room > .slider_card,
.member_favourites > .slider_card,
.best_of > .slider_card {
  height: 200px;
}

.overlay_container {
  position: relative;
}

.overlay,
.overlay_svg {
  position: absolute;
  width: 280px;
  height: 140px;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  display: none;
}

.overlay {
  opacity: 0.1;
  background-color: #000000;
}

.overlay_svg {
  background-color: rgb(19, 19, 19);
  opacity: 0.98;
  height: 50px;
  width: 50px;
}

.overlay_container:hover .overlay,
.overlay_container:hover .overlay_svg {
  transform: translateY(0%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card_text {
  height: 50px;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.icon {
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
}

.card_text div p:nth-child(2) {
  color: yellow;
  font-size: 1.2rem;
  font-weight: 500;
}

.card_text div p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
}

.card_text div span:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 500;
}

.card_text div span:nth-child(3) {
  color: rgb(231, 39, 30);
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 3px;
}

.card_text_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.genres {
  display: inline-block;
  padding: 3px 6px;
  margin-top: 5px;
  margin-right: 2px;
  border: 1px solid rgb(51, 51, 51);
  font-size: 1.1rem;
  font-weight: 400;
}

.cities {
  height: 500px;
  padding: 8px;
}

.cities_title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.cities_title a > p {
  font-size: 1.4rem;
  font-weight: 700;
  opacity: 0.5;
}

p > svg {
  height: 9px;
}

h2 + p {
  padding-left: 8px;
}

.map_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.city_map {
  height: 50px;
  width: 170px;
  margin: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.london_map {
  background-image: url(./assets/map_images/london_map.avif);
  background-size: cover;
  background-position: center;
}

.berlin_map {
  background-image: url(./assets/map_images/berlin_map.avif);
  background-size: cover;
  background-position: center;
}

.ny_map {
  background-image: url(./assets/map_images/ny_map.avif);
  background-size: cover;
  background-position: center;
}

.la_map {
  background-image: url(./assets/map_images/la_map.avif);
  background-size: cover;
  background-position: center;
}

.amsterdam_map {
  background-image: url(./assets/map_images/amsterdam_map.avif);
  background-size: cover;
  background-position: center;
}

.paris_map {
  background-image: url(./assets/map_images/paris_map.avif);
  background-size: cover;
  background-position: center;
}

.mexico_map {
  background-image: url(./assets/map_images/mexico_map.avif);
  background-size: cover;
  background-position: center;
}

.barcelona_map {
  background-image: url(./assets/map_images/barcelona_map.avif);
  background-size: cover;
  background-position: center;
}

.sao_paulo_map {
  background-image: url(./assets/map_images/paulo_map.avif);
  background-size: cover;
  background-position: center;
}

.madrid_map {
  background-image: url(./assets/map_images/madrid_map.avif);
  background-size: cover;
  background-position: center;
}

.tokyo_map {
  background-image: url(./assets/map_images/tokyo_map.avif);
  background-size: cover;
  background-position: center;
}

.johannesburg_map {
  background-image: url(./assets/map_images/johannesburg_map.avif);
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: rgb(19, 19, 19);
}

.mailing_list {
  border-bottom: 1px solid rgb(34, 34, 34);
  padding: 45px 18px;
}
.mailing_list button {
  font-size: 1.7rem;
  font-weight: 700;
  background-color: rgb(112, 187, 102);
  color: white;
  border-style: none;
  width: 100%;
  padding: 10px;
}
.mailing_list p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
  line-height: 1.4rem;
  margin-top: 8px;
}
.mailing_list p a {
  text-decoration: underline;
}

h5 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.apple_music_link {
  text-align: center;
  margin: 30px;
}
.apple_music_link img {
  height: 35px;
}

.footer_menu {
  line-height: 1.4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: none;
}
.footer_menu li {
  padding-bottom: 19px;
}

.footer_menu > div {
  padding: 10px;
}

.footer_submenu {
  display: flex;
}
.footer_submenu div {
  padding-right: 15px;
}

h6 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
  height: 20px;
}

.footer_logos {
  display: flex;
  justify-content: center;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */